.main-header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #0073ff;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0073ff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #6897f3;
    color: white;
}

nav ul li a:active {
    background-color: #555;
    color: white;
}

#perfil {
    position: relative;
    left: 430px;
    display: flex;
    align-items: center;
    width: 20px;
}