* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, white, #0088ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 680px;
}


/* Parte Principal */
#cadeado {
    position: fixed;
    top: 100px;
    z-index: 1;
    width: 200px;
}

.partePrincipal {
    position: fixed;
    background-color: white;
    border-radius: 40px;
    margin-top: 80px;
    width: 450px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.partePrincipal h1 {
    text-align: center;
    color: #0073ff;
    margin-top: 40px;
}

.partePrincipal p {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.partePrincipal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partePrincipal input {
    width: 350px;
    border: 0;
    background-color: #afcaff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    outline: none;
}

.partePrincipal #submit {
    color: white;
    background-color: #0080ff;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.partePrincipal a {
    text-decoration: none;
    color: #0073ff;
}